<?php
/**
  * @var \App\View\AppView $this
  */
?>

<div class="container">
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Contact Type'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Student Contact'), ['controller' => 'StudentContact', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Student Contact'), ['controller' => 'StudentContact', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="contactType form large-9 medium-8 columns content">
    <?= $this->Form->create($contactType) ?>
    <fieldset>
        <legend><?= __('Add Contact Type') ?></legend>
        <?php
            echo $this->Form->control('student_contact_id', ['options' => $studentContact]);
            echo $this->Form->control('name');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
