<div class="container">
  <div class="row align-items-end">
    <div class="col-md-6 col-12">
      <h1>Enrolments</h1>
    </div>
	<div class="col-md-6 col-12">
		<p>To Enrol, please choose your school and class below</p>
	</div>
  </div>
  <?php foreach($schools as $school): ?>
    <?php if(count($school['classes']) > 0): ?>
      <div class="row">
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-12 col-md text-center">
              <?php echo $this->Html->image($school['image']) ;?>

              <h3><?php echo $school['school_name']; ?></h3>
             
            </div>
            <div class="col-12 col-md">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h4>Classes</h4>
                  </li>
                  <?php foreach($school['classes'] as $class): ?>
                    <li class="list-group-item" data-toggle="modal" data-target="#<?php echo $class['id']; ?>-Modal">
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <?php echo $class['name']; ?><small class="text-muted"> - <?php echo \Cake\Utility\Inflector::pluralize($class['class_day']); ?> at <?php echo $class->class_time->i18nFormat('h:mm a'); ?></small>
                        </div>
                        <div class="col-auto">
                          &#9656;
                        </div>
                      </div>

                      <div class="modal fade" id="<?php echo $class['id']; ?>-Modal">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title"><?php echo $class['name']; ?></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>School: <?php echo $school['school_name']; ?></p>
                              <p>Teacher: <?php echo $class['teacher']['user']['first_name'] . ' ' . $class['teacher']['user']['last_name'] ?></p>
                              <p>Class Location: <?php echo $class['class_address']; ?></p>
                              <p>Time: <?php echo \Cake\Utility\Inflector::pluralize($class['class_day']); ?> at <?php echo $class->class_time->i18nFormat('h:mm a'); ?></p>
                              <p>Start Date: <?php echo $class['start_date']->i18nFormat('dd/MM/yyyy'); ?></p>
                              <p>End Date: <?php echo $class['end_date']->i18nFormat('dd/MM/yyyy'); ?></p>

							  <?php if(empty($class->lessons)): ?>
								<div class="alert alert-danger" role="alert">
									Enrolment for this class for this term has closed. If you are interested in enrolling for next term, please <?php echo $this->Html->link('contact us', array('controller' => 'contactMessages', 'action' => 'contactUs')); ?>
								</div>
							  <?php endif; ?>
                            </div>
                            <div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
								<?php if(!empty($class->lessons)){
									if ($this->request->session()->check('student_id')) {
										echo $this->Html->link('Enrol <i class="fa fa-chevron-right" aria-hidden="true"></i>', array('controller' => 'enrolments', 'action' => 'enrol', $class['id']), array('class' => 'btn btn-primary', 'escape' => false));
									} else {
										echo $this->Html->link('Enrol <i class="fa fa-chevron-right" aria-hidden="true"></i>', array('controller' => 'users', 'action' => 'parent_signup', $class['id']), array('class' => 'btn btn-primary', 'escape' => false));
									}
								} ?>

                            </div>
                          </div>
                        </div>
                      </div>


                      <!--<p>Class Name: <?php echo $class['name']; ?></p>
                      <p>Teacher: <?php echo $class['teacher']['user']['first_name'] . ' ' . $class['teacher']['user']['last_name'] ?></p>
                      <p>Room: <?php echo $class['class_address']; ?></p>
                      <p>Day: <?php echo $class['class_day']; ?></p>
                      <p>Start Date: <?php echo $class['start_date']->i18nFormat('dd/MM/yyyy'); ?></p>
                      <p>End Date: <?php echo $class['end_date']->i18nFormat('dd/MM/yyyy'); ?></p>
                      <p>Time: <?php echo $class->class_time->i18nFormat('HH:mm a'); ?></p>
					  <p>Enrol: "Click Enrol for the new term"</p>

                      <?php if ($this->request->session()->check('student_id')) {
                        echo $this->Html->link('Enrol',array('controller' => 'students', 'action' => 'Student_enrolment', $class['id']), array('class' => 'btn btn-primary'));
                      } else {
                        echo $this->Html->link('Enrol',array('controller' => 'users', 'action' => 'parent_signup', $class['id']), array('class' => 'btn btn-primary'));
                      } ?>-->
                    </li>
                  <?php endforeach; ?>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr/>
        </div>
      </div>
    <?php endif; ?>
  <?php endforeach; ?>
</div>
