html {
    position: relative;
    min-height: 100%;
  }

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  /*background-image: url("../img/blueCloud.jpg");
  background-position: center center;
  background-size: cover;*/
  background-color: white;
  font-family: 'Open Sans', cursive;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', cursive;
  color: #ff870a;
}

.footer {
	font-family: 'Roboto', cursive;
	color: #ffffff;
}

.contactUs {
	font-family: 'Roboto', cursive;
	color: #ffffff;
}

.orangeBand {
	background-color: #ff870a;
	color: #ffffff;
}

.btn-lg-round {
    border-radius: 50px;
}

.footer a {
	color: white;
}

.text-unmuted {
	color: black;
}

.headerBackground + .container {
    margin-top: 1rem;
}

.ui-autocomplete-category {
	font-weight: bold;
	font-size: 1rem;
	padding: .2rem .2rem;
	margin: .4rem 0 .2rem;
	line-height: 1.5;
	color: #069;
	border-bottom: 2px solid #069;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;
  /*line-height: 60px; /* Vertically center the text there */
  /*background-color: #00CED1;*/
  background-color:#f08113;
  margin-top: 3rem;
}

.footer .text-muted {
  line-height: 60px;

}

.headerImage {
  max-height: 150px;
  max-width: 100%;
}

.headerBackground {
  /*background-image: url("../img/purp.jpg");*/
  /*background-image: url("../img/blueCloud.jpg");*/
  -/*webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: white;
  }

.progress-chevron {
    font-weight: bold;
    background-color: #e9ecef;
	margin-bottom: 1rem;
}

.progress-chevron:before {
    content: '';
    border-left: 15px solid transparent;
    border-top: 20px solid #e9ecef;
    border-bottom: 20px solid #e9ecef;
    height: 0;
    width: 0;
    position: absolute;
    left: -15px;
    top: 0;
}

.progress-chevron:after {
    content: '';
    border-left: 15px solid #e9ecef;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: -15px;
    top: 0;
}

.progress-chevron.active {
	background-color: #17a2b8;
	color: #fff;
}

.progress-chevron.active:before {
	border-top: 20px solid #17a2b8;
    border-bottom: 20px solid #17a2b8;
}

.progress-chevron.active:after {
    border-left: 15px solid #17a2b8;
}

[data-toggle]:hover {
  cursor: pointer;
}

.card:first-child:nth-last-child(1) .removeStudentButton {
    display: none;
}

@media (min-width: 992px) {

	.navbar-container {
		overflow: hidden;
	}

	.navbar {
		margin-bottom: -1rem;
	}

	#navbarSupportedContent ul {
		overflow: visible;
	}

	#navbarSupportedContent li.nav-item {
		border-radius: 0.5rem;
		padding: 1rem;
		overflow: visible;
	}

	#navbarSupportedContent li.nav-item:hover {
		box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.4);
	}

	#navbarSupportedContent li.nav-item a {
		color: white;
		font-weight: bold;
	}

	.menu-dark-orange {
		background-color: #e7521d;
	}

	.menu-orange {
		background-color: #ff870a;
	}

	.menu-yellow {
		background-color: #e0ce03;
	}

	.menu-green {
		background-color: #99c404;
	}

	.menu-light-blue {
		background-color: #00c4eb;
	}

	.menu-dark-blue {
		background-color: #0ca2c0;
	}


	.menu-rotate-10 {
		transform: rotate(-10deg);
	}

	.menu-rotate-9 {
		transform: rotate(-9deg);
	}

	.menu-rotate-8 {
		transform: rotate(-8deg);
	}

	.menu-rotate-7 {
		transform: rotate(-7deg);
	}

	.menu-rotate-6 {
		transform: rotate(-6deg);
	}

	.menu-rotate-5 {
		transform: rotate(-5deg);
	}

	.menu-rotate-4 {
		transform: rotate(-4deg);
	}

	.menu-rotate-3 {
		transform: rotate(-3deg);
	}

	.menu-rotate-2 {
		transform: rotate(-2deg);
	}

	.menu-rotate-1 {
		transform: rotate(-1deg);
	}

	.menu-rotate1 {
		transform: rotate(1deg);
	}

	.menu-rotate2 {
		transform: rotate(2deg);
	}

	.menu-rotate3 {
		transform: rotate(3deg);
	}

	.menu-rotate4 {
		transform: rotate(4deg);
	}

	.menu-rotate5 {
		transform: rotate(5deg);
	}

	.menu-rotate6 {
		transform: rotate(6deg);
	}

	.menu-rotate7 {
		transform: rotate(7deg);
	}

	.menu-rotate8 {
		transform: rotate(8deg);
	}

	.menu-rotate9 {
		transform: rotate(9deg);
	}

	.menu-rotate10 {
		transform: rotate(10deg);
	}


}
