h1.welcome {
  text-align: center;
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: monospace;
}

 {
  text-align: left;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-family: FreeMono, monospace;
  color: #800044;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    border-right: 1px solid #bbb;
}

li.nav-footer {
	color: #ffffff;
}

.navbar.navbar-fixed-top.navbar-expand-lg.navbar-light {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}


