<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\Column[]|\Cake\Collection\CollectionInterface $columns
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Column'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Rows'), ['controller' => 'Rows', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Row'), ['controller' => 'Rows', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="columns index large-9 medium-8 columns content">
    <h3><?= __('Columns') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('row_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('column_order') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($columns as $column): ?>
            <tr>
                <td><?= $this->Number->format($column->id) ?></td>
                <td><?= $column->has('row') ? $this->Html->link($column->row->id, ['controller' => 'Rows', 'action' => 'view', $column->row->id]) : '' ?></td>
                <td><?= $this->Number->format($column->column_order) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $column->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $column->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $column->id], ['confirm' => __('Are you sure you want to delete # {0}?', $column->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator text-center">
        <ul class="pagination justify-content-center">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('<i class="fa fa-chevron-left" aria-hidden="true"></i> ' . __('Previous'), ['escape' => false]) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('Next') . ' <i class="fa fa-chevron-right" aria-hidden="true"></i>', ['escape' => false]) ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p class="text-muted"><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
